<div class="login-container">
  <mat-card class="login-card">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input class="field" matInput formControlName="password" type="password" required>
      </mat-form-field>

      <button class="login-btn" mat-raised-button color="primary" type="submit" routerLink="/home" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
    <p class="register-text">
      Don't have an account? <a routerLink="/register">Register</a>
    </p>
  </mat-card>
</div>
