<div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="nav-bar">
    <div class="nav-left">
      <h1 class="title">
        Shopl<span class="highlight">y</span>
      </h1>

    </div>

    <div class="search-box" >
      <input type="text" placeholder="Search">
      <button class="search-btn"><i class="fa fa-fw fa-search"></i></button>
    </div>


    <div class="nav-icons">
      <ul class="icons">
        <li><a routerLink="/home"><i class="fa fa-fw fa-home"></i></a></li>
        <li><a routerLink="/cart"><i class="fa fa-fw fa-shopping-cart"></i></a></li>
        <li><a routerLink="/favourites"><i class="fa fa-fw fa-heart"></i></a></li>
        <li><a routerLink="/about"><i class="fa fa-fw fa-globe"></i></a></li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
        
          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item [routerLink]="'/profile'">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item [routerLink]="'/settings'">
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item [routerLink]="'/logout'">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </nav>
</div>
