.section-header {
  margin-bottom: 1rem;
  background: #0f0f10;
  color: white;
  padding: 1rem;
}

.grid {
  display: grid;
  padding: 10px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.prod-img {
height: 100%;
width: 100%;

}

.product-card {
  padding: 1rem;
  display: flex;
}

.content {
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.flag {
  display: inline-block;
  background-color: #e0e0e0;
  color: #333;
  padding: 2px 6px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 12px;
}

.flags-buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.btn-div {
  display: flex;
  gap: 0.5rem;
}

.cart-btn {
  background-color: rgb(255, 230, 0);
  color: black;
  border-radius: 50px;
}

.fav-btn {
  background-color: red;
  color: white;
  border-radius: 50px;
}

mat-card-title,
mat-card-subtitle {
  margin-bottom: 0.5rem;
}

.btn-div button:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px){
  .btn-div {
    max-width: 295px;
  }
}